@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.none{
    display: none;
}
#email1{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#job1{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#gender1{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#age1{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
}
.plusbtn{
     height: 85px;
     width: 85px;
    border-radius: 100%;
    background: #2d9bf0;
    text-align: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}
img {
    user-select: none;
}

[x-cloak] {
    display: none;
}

[v-cloak] {
    display: none;
}

.sidebar {
    @apply p-4 shadow-md shadow-black border-t border-black border-opacity-50 rounded-lg mb-2 mt-3 bg-gray-900 w-[230px] !important;
}

.nav-link {
    @apply rounded-lg my-1 !important;
}

.page-link {
    color: rgb(202, 202, 202) !important;
}

.reverted {
    all: revert;
}

#message {
    display: none;
}

#newtagadded {
    display: none;
}

.btn {
    @apply py-4 text-base font-medium transition rounded-full;
}

.btn-primary {
    @apply text-white bg-blue-500 w-[360px] hover:bg-blue-400;
}

.btn-secondary {
    @apply w-[360px] py-3 text-blue-500 transition border-2 border-blue-500 hover:bg-blue-100;
}
.form-input {
    @apply h-12 rounded-full w-[360px];
    @apply text-center text-blue-500 border-2 border-blue-500;
    outline: 0px;
}
.form-input:focus {
    @apply border-blue-500;
    outline: 0;
    box-shadow: none;
}
.ml {
    margin-left: 42%;
}
.hw {
    height: 89px;
    width: 90px;
}
.bol {
    font-weight: bolder;
}
.bg-yel {
    background: #fac710;
}

.arrow {
    height: 30px;
    margin-top: 3%;
    margin-left: 3%;
    cursor: pointer;
}
.w-89 {
    width: 89%;
}
.new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.p5 {
    padding: 5px;
}
.border-ms {
    border-radius: 0.4rem;
}

.circle {
    width: 7%;
    border: 2px solid #2d9bf0;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    margin-top: -1%;
    margin-left: -7%;
    color: #2d9bf0;
}


.p5 {
    padding: 5px;
}
.border-ms {
    border-radius: 0.275rem;
}
.gap5 {
    gap: 0.5rem;
}
.f {
    display: flex;
    flex-direction: row;
    gap: -0.4rem;
    margin-top: 9%;
    width: 101%;
}
.clbtn {
    padding: 5% 13%;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 23px;
}
.fc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.f15 {
    font-size: 1.5rem;
}
.f13 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #2d9bf0;
}
.cbl {
    color: blue;
}
.fnor {
    font-weight: normal;
}
.inp {
    width: 100%;
    background: transparent;
    position: absolute;
    margin-left: -10%;
    padding: 3%;
}
.inp1 {
    background: #e6e6e6;
    border-radius: 23px;
    width: 41%;
    margin-left: 30%;
    padding: 1%;
    text-align: center;
}

.input-box {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
}

.brad {
    border-radius: 15px;
}
.bold {
    font-weight: bolder;
}
.df {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.box {
    display: flex;
    flex-direction: column;
}
.edbt {
    border-radius: 21px;
    padding: 5% 11%;
    font-weight: bold;
    border: 2px solid;
}
.fbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.text {
    font-weight: bolder;
    font-size: 1.3rem;
}
.sbox {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.editbtn {
    padding: 17px 30px;
    font-weight: bold;
    border-radius: 21px;
}
.fuulwd {
    width: 100%;
}
.dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.fdas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.parto {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 50%;
}
.belo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.first {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
.scnd {
    background: #2d9bf0;
    border-radius: 21px;
    padding: 17px 35px;
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
}
.plu {
    border-radius: 100%;
    color: #2d9bf0;
    text-align: center;
    border: 2px solid #2d9bf0;
    font-size: 1.2rem;
    width: 34px;
}
.dash {
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 3%;
    font-style: italic;
}
.nimage {
    border-width: 7px;
    height: 58px;
    width: 58px;
}
.parts {
    background: #2d9bf0;
    color: white;
    font-weight: bolder;
    padding: 17px 18px;
    border-radius: 10px;
}
.location {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: blue;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.location1 {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: orange;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.text1 {
    font-size: 1.1rem;
}
.img {
    height: 30px;
    width: 30px;
}
.plus {
    background: #3f83f8;
    color: white;
    text-align: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    font-size: 1.7rem;
}
.ddas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fist {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 40%;
}
.taz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.scn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.7rem;
}
.mimage {
    border-width: 7px;
    height: 80px !important;
    width: 80px !important;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.toptaxt {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}
.vieprofile {
    color: #2d9bf0;
    border: 3px solid #2d9bf0;
    border-radius: 21px;
    padding: 12px 33px;
    font-weight: bold;
}
.tops {
    display: flex;
    flex-direction: column;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.lbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 13%;
}
.check {
    border-radius: 100%;
    border: 2px solid black;
    height: 25px;
    width: 25px;
}
.mapping {
    color: #2d9bf0;
    text-align: center;
    padding: 3%;
}
.closebt {
    border: 3px solid #2d9bf0;
    border-radius: 24px;
    color: #2d9bf0;
    padding: 12px 33px;
    font-weight: bold;
    font-size: 1.2rem;
}
.ltax {
    font-size: 1.2rem;
    font-style: italic;
}
@media (min-width: 772px) {
    .inp1{
        margin: 0;
    }
    .inp1::placeholder{
        color: black;
    }
    .edbt{
        padding: 1% 5%!important;
    }
    .lbox {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-left: 14%;
    }
    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .flex-r {
        display: flex !important;
        flex-direction: row;
        justify-content: center !important;
        gap: 11%;
    }
    .ddas {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 57%;
    }
    .nimage {
        border-width: 7px;
        height: 60px;
        width: 60px;
    }

    .dashboard {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .fdas {
        width: 40%;
    }
    .w90 {
        width: 41% !important;
    }
    .fuulwd {
        width: 28%;
    }
    .editcity {
        padding: 15px 40px !important;
    }
    .circle {
        width: 2%;
        border: 2px solid #2d9bf0;
        border-radius: 100%;
        text-align: center;
        position: absolute;
        margin-top: -0.3%;
        margin-left: -2%;
        color: #2d9bf0;
    }
    .fbox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30%;
    }
    .htwd {
        height: 41px;
        width: 44px;
    }
    .f {
        display: flex;
        flex-direction: row;
        margin-top: 9%;
        width: 101%;
        justify-content: center;
    }
    .clbtn {
        padding: 1% 4%;
        font-weight: normal;
        font-size: 1rem;
        border-radius: 19px;
    }
    .w45 {
        width: 45%;
    }
    .pd32 {
        padding-right: 32%;
    }
    .fn32 {
        font-size: 13px;
    }
}
@media (max-width: 400px) {
    .wd10 {
        width: 100%;
    }
    .mglf {
        margin-left: -28%;
    }


    .plusbtn{
        height: 61px;
        width: 58px;
        border-radius: 100%;
        background: #2d9bf0;
        text-align: center;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: 23%;
    }
    .inp1 {
        background: #e6e6e6;
        border-radius: 23px;
        width: 100%;
        margin: 0;
        padding: 5%;
        text-align: center;
    }
    .inp1::placeholder {
        color: black;
    }
    .btnpd {
        padding: 17px 31px !important;
        border-radius: 24px !important;
    }
}
@media (max-width: 330px) {
    .wd10 {
        width: 100%;
    }

    .htwd {
        height: 41px;
        width: 44px;
    }

    .pd {
        padding: 5% 8%;
    }

    .edbt {
        border-radius: 21px;
        padding: 5% 11%;
    }

    .ml {
        margin-left: 29%;
    }

    .inp1 {
        background: #e6e6e6;
        border-radius: 23px;
        width: 100%;
        margin-left: 0%;
        padding: 5%;
        text-align: center;
    }

    .ml {
        margin-left: 29%;
    }

    .bb {
        border-radius: 22px;
        padding: 6% 9%;
    }

    .sb {
        border-radius: 22px;
        border: 3px solid;
    }
}

.bb {
    border-radius: 22px;
    padding: 6% 9%;
}

.sb {
    border-radius: 22px;
    border: 3px solid;
}


.fb {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
.w90 {
    width: 100%;
}

.flax {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.image {
    height: 70px;
    width: 80px;
}
.margl {
    margin-left: -10px;
}

.btnpd {
    padding: 17px 31px;
    border-radius: 24px;
}
.btn2p {
    padding: 11px 10px;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.backbtn {
    padding: 13px 33px;
    font-weight: bold;
    border-radius: 18px;
}
.bl {
    font-size: 1.3rem;
    font-weight: bolder;
}
.i {
    background: #2d9bf0;
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
}
.inp {
    background: lightgrey;
    border-radius: 12px;
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    text-align: center;
}
.inp::placeholder {
    color: black;
}
.ml-c {
    margin-left: 25%;
}

.flax {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.image {
    height: 60px;
    width: 60px;
}
.margl {
    margin-left: -10px;
}
.btnpd {
    padding: 11px 29px;
    border-radius: 15px;
}
.btn2p {
    padding: 11px 10px;
}
.flex-r {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.bl {
    font-size: 1.3rem;
}
.i {
    background: blue;
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
}
.inp {
    background: lightgrey;
    border-radius: 12px;
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    text-align: center;
}
.inp::placeholder {
    color: black;
}
.ml-c {
    margin-left: 25%;
}
.w51 {
    width: 51%;
}

.circle-image {
    @apply p-4 rounded-full bg-blue-500;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    /* margin: 0; */
    background: #2d9bf0;
    /* color: #333; */
    /* box-shadow: 0 3px 14px rgba(0,0,0,0.4); */
}

/* Change pagination dot color */
.slick-dots li button:before {
    color: #3f83f8;
    /* Change this to the desired color */
}

/* Change active pagination dot color */
.slick-dots li.slick-active button:before {
    color: #3f83f8;
    /* Change this to the desired active color */
}

.slick-initialized .slick-slide {
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1305px;
}
/* Hide the default icon */
.transparent-icon {
    background: transparent;
    border: none;
}
