@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', sans-serif;

}


img{
  user-select: none;
}

[x-cloak] {
  display: none;
}

[v-cloak] {
  display: none;
}


.sidebar {
  @apply p-4 shadow-md shadow-black border-t border-black border-opacity-50 rounded-lg mb-2 mt-3 bg-gray-900 w-[230px] !important;
}

.nav-link {
  @apply rounded-lg my-1 !important;
}

.page-link {
  color: rgb(202, 202, 202) !important;
}

.reverted{
  all: revert;
}

#message {
  display: none;
}

#newtagadded {
  display: none;
}
